[Unit]
Description=Flashback Restore - Landing Page Next.js
After=network.target

[Service]
Type=simple
User=flashback
Group=flashback
WorkingDirectory=/opt/flashback-restore-monorepo/landing
Environment="NEXTAUTH_SECRET=kpCr/8IMQoqVF67Wxt+GYCnsIgXD5mqc7P2Qv8Q50zo="
Environment="AUTH_SECRET=kpCr/8IMQoqVF67Wxt+GYCnsIgXD5mqc7P2Qv8Q50zo="
Environment="CLERK_SECRET_KEY=sk_test_NVaHy5Dm9iS9dCfn6Fxv2MZxR8aTu0LhNeaxKAyC70"
Environment="NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dGhvcm91Z2gtc2F0eXItODMuY2xlcmsuYWNjb3VudHMuZGV2JA"
ExecStart=/usr/bin/npx next start -p 8001
Restart=always
RestartSec=5

# Isolation
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=/opt/flashback-restore-monorepo

[Install]
WantedBy=multi-user.target
